<!-- this acts as a generic template for all pages on the website. Think of it like a giant react component, and inside the {children} are the the html pages that can be individually customized  -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Chat App</title>
		<!-- NOTE: Jenja templating engine is used by Flask to render dynamic html pages based on Python code. Below is the syntax it uses: -->
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='css/style.css')}}" />
		<!-- NOTE: required to load the Socket.IO client-side library -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
			integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
			crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="content">
			<!-- NOTE: Jenja blocks are reusable code parts that can be overwritten by children -->
			{% block content %} {% endblock %}
		</div>
	</body>
</html>
